/DWEB/pratica01execicio01/build/
/DWEB/pratica01execicio01/nbproject/private/
/DWEB/pratica01execicio02/nbproject/private/
/DWEB/pratica02ex01/nbproject/private/
/DWEB/pratica02ex02/nbproject/private/
/DWEB/pratica02ex03/nbproject/private/
/DWEB/pratica02ex04/build/
/DWEB/pratica02ex04/dist/
/DWEB/pratica02ex04/nbproject/private/
/DWEB/pratica03ex01/nbproject/private/
/DWEB/pratica03ex02/nbproject/private/
/DWEB/pratica03ex03/nbproject/private/
/DWEB/pratica03ex01/build/
/DWEB/pratica03ex02/build/